python-dotenv 
PyPDF2
langchain
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers
azure-storage-blob 
chromadb 
databricks-sdk 
streamlit
huggingface-hub 
langchain-community
openai  
langchain-openai
python-dotenv
